<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="bus_assembly_total_3">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0396032365699452 -0.179975323556713 0.00319132330531058"
        rpy="0 0 0" />
      <mass
        value="0.0714886173099694" />
      <inertia
        ixx="5.80523540227651E-05"
        ixy="1.91809430872111E-21"
        ixz="8.64891249667121E-23"
        iyy="5.69343997438362E-05"
        iyz="-1.98636141174058E-21"
        izz="3.48906593535471E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_total_3/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_total_3/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.0144943377294202 -3.40932699502416E-08 0.000195104358892084"
        rpy="0 0 0" />
      <mass
        value="0.0861353887155759" />
      <inertia
        ixx="1.99776586952403E-05"
        ixy="-1.72087942597264E-10"
        ixz="-5.06437416027467E-08"
        iyy="4.35086698833606E-05"
        iyz="-6.51212500764673E-13"
        izz="4.97203166390565E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_total_3/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_total_3/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="-0.0396032365699452 -0.18 -0.0763893248764293"
      rpy="1.5707963267949 -1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.014494 -3.4093E-08 0.0001951"
        rpy="0 0 0" />
      <mass
        value="0.086135" />
      <inertia
        ixx="1.9978E-05"
        ixy="-1.7209E-10"
        ixz="-5.0644E-08"
        iyy="4.3509E-05"
        iyz="-6.5121E-13"
        izz="4.972E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_total_3/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_total_3/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="-0.0747 0 0"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.014494 -3.4093E-08 0.0001951"
        rpy="0 0 0" />
      <mass
        value="0.086135" />
      <inertia
        ixx="1.9978E-05"
        ixy="-1.7209E-10"
        ixz="-5.0644E-08"
        iyy="4.3509E-05"
        iyz="-6.5121E-13"
        izz="4.972E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_total_3/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_total_3/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.0747 0 0"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-0.089194 -3.4093E-08 0.0001951"
        rpy="0 0 0" />
      <mass
        value="0.086135" />
      <inertia
        ixx="1.9978E-05"
        ixy="-1.7209E-10"
        ixz="-5.0644E-08"
        iyy="4.3509E-05"
        iyz="-6.5121E-13"
        izz="4.972E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_total_3/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_total_3/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-0.0144943377294204 -3.40932700612639E-08 0.000195104358892029"
        rpy="0 0 0" />
      <mass
        value="0.086135388715576" />
      <inertia
        ixx="1.99776586952403E-05"
        ixy="-1.72087942574946E-10"
        ixz="-5.0643741602745E-08"
        iyy="4.35086698833606E-05"
        iyz="-6.51212502736261E-13"
        izz="4.97203166390565E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_total_3/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_total_3/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="-0.1494 0 0"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-0.019735 -5.2042E-16 0.00021609"
        rpy="0 0 0" />
      <mass
        value="0.091595" />
      <inertia
        ixx="1.9408E-05"
        ixy="-9.4092E-18"
        ixz="-6.2417E-09"
        iyy="4.0186E-05"
        iyz="-1.7545E-15"
        izz="4.7215E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_total_3/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_total_3/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="-0.0747 0 0"
      rpy="0 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
</robot>