<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="test">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0049556 -2.347E-18 -0.00025"
        rpy="0 0 0" />
      <mass
        value="0.072896" />
      <inertia
        ixx="3.4934E-05"
        ixy="-6.1633E-22"
        ixz="2.7899E-21"
        iyy="5.8096E-05"
        iyz="7.3998E-22"
        izz="5.7019E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.0157146861571056 -3.40932693110971E-08 -7.9572084394763E-05"
        rpy="0 0 0" />
      <mass
        value="0.0861353887155735" />
      <inertia
        ixx="1.99776586952395E-05"
        ixy="-1.72087942736075E-10"
        ixz="-5.06437416027453E-08"
        iyy="4.35086698833571E-05"
        iyz="-6.5121250017655E-13"
        izz="4.97203166390526E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="-0.083 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.5"
      upper="1.5"
      effort="1.5"
      velocity="1" />
  </joint>
</robot>