<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="bus_assembly_5">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.043137077249229 -0.033091143233497 0.018891616874227"
        rpy="0 0 0" />
      <mass
        value="0.0714886173099694" />
      <inertia
        ixx="5.6934399743836E-05"
        ixy="5.19515213355585E-21"
        ixz="3.45006733065181E-22"
        iyy="3.34382802608172E-05"
        iyz="6.73843517407117E-07"
        izz="5.95047331154949E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_5/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_5/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.880285458434453 0.20921996743962 -0.28612869716874"
        rpy="0 0 0" />
      <mass
        value="0.0861353887155759" />
      <inertia
        ixx="1.99776586952403E-05"
        ixy="1.72087942607035E-10"
        ixz="5.06437416027504E-08"
        iyy="4.35086698833605E-05"
        iyz="-6.5121250110597E-13"
        izz="4.97203166390564E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_5/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_5/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="-0.0927800250769272 -0.00212127131972741 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.899071109697225 0.190850170011342 -0.28612869716874"
        rpy="0 0 0" />
      <mass
        value="0.0861353887155759" />
      <inertia
        ixx="1.99776586952403E-05"
        ixy="1.72087942606829E-10"
        ixz="5.064374160275E-08"
        iyy="4.35086698833605E-05"
        iyz="-6.51212501969715E-13"
        izz="4.97203166390564E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_5/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_5/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="-0.0747 0 0"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.899071109697225 -0.176364843187961 -0.294783838009551"
        rpy="0 0 0" />
      <mass
        value="0.0861353887155759" />
      <inertia
        ixx="1.99776586952403E-05"
        ixy="1.72087942605691E-10"
        ixz="5.06437416027495E-08"
        iyy="4.35086698833605E-05"
        iyz="-6.51212501694552E-13"
        izz="4.97203166390564E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_5/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_5/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.0747 0 0"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.899071109697225 0.190850170011342 -0.28612869716874"
        rpy="0 0 0" />
      <mass
        value="0.0861353887155759" />
      <inertia
        ixx="1.99776586952403E-05"
        ixy="1.72087942606227E-10"
        ixz="5.06437416027507E-08"
        iyy="4.35086698833605E-05"
        iyz="-6.51212501705177E-13"
        izz="4.97203166390564E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_5/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_5/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="-0.0747 0 0"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.899071109697225 0.190850170011342 -0.28612869716874"
        rpy="0 0 0" />
      <mass
        value="0.0861353887155759" />
      <inertia
        ixx="1.99776586952403E-05"
        ixy="1.72087942606965E-10"
        ixz="5.06437416027503E-08"
        iyy="4.35086698833605E-05"
        iyz="-6.51212501470157E-13"
        izz="4.97203166390563E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_5/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_5/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="-0.0746999999999999 0 0"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="0.544169032540516 0.184369871967737 -0.0456756036529305"
        rpy="0 0 0" />
      <mass
        value="0.0915951127437805" />
      <inertia
        ixx="1.94082875231351E-05"
        ixy="-9.44509099464316E-18"
        ixz="-6.24174548317461E-09"
        iyy="4.01857882657393E-05"
        iyz="-1.75448777121778E-15"
        izz="4.7214629660733E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_5/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_5/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="-0.0747 0 0"
      rpy="0 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
</robot>