<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="bus_assembly_3">
<mujoco>
  <compiler 
    meshdir="../meshes/" 
    balanceinertia="true" 
    discardvisual="false"
    autolimits="true"/>
  <option timestep="0.001" iterations="50" tolerance="1e-10" solver="Newton"/>
</mujoco>

<custom>
  <numeric name="unfiltered_contact" data="0"/> 
</custom>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0768006231048127 -0.00212127131972741 0.107"
        rpy="0 0 0" />
      <mass
        value="0.0714886173099694" />
      <inertia
        ixx="3.48906593535471E-05"
        ixy="3.27246378248631E-21"
        ixz="-5.09298645520679E-22"
        iyy="5.80523540227651E-05"
        iyz="-2.11760390929754E-22"
        izz="5.69343997438362E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_3/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_3/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.0144943377294202 3.4093269990574E-08 0.0168295720843948"
        rpy="0 0 0" />
      <mass
        value="0.0861353887155758" />
      <inertia
        ixx="1.99776586952403E-05"
        ixy="1.7208794260634E-10"
        ixz="5.06437416027521E-08"
        iyy="4.35086698833605E-05"
        iyz="-6.51212501969854E-13"
        izz="4.97203166390564E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_3/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_3/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="-0.00278 -0.09 -0.0021213"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.0144943377294202 3.40932699897066E-08 0.0168295720843948"
        rpy="0 0 0" />
      <mass
        value="0.0861353887155759" />
      <inertia
        ixx="1.99776586952403E-05"
        ixy="1.72087942605845E-10"
        ixz="5.06437416027538E-08"
        iyy="4.35086698833605E-05"
        iyz="-6.51212501818353E-13"
        izz="4.97203166390564E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_3/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_3/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="-0.0747 0 0"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.0144943377294202 3.40932699506753E-08 0.0168295720843948"
        rpy="0 0 0" />
      <mass
        value="0.0861353887155759" />
      <inertia
        ixx="1.99776586952403E-05"
        ixy="1.72087942606904E-10"
        ixz="5.06437416027541E-08"
        iyy="4.35086698833605E-05"
        iyz="-6.51212501136541E-13"
        izz="4.97203166390564E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_3/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_3/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.0747 0 0"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-0.01449433772942 3.40932699871045E-08 0.0168295720843947"
        rpy="0 0 0" />
      <mass
        value="0.0861353887155759" />
      <inertia
        ixx="1.99776586952403E-05"
        ixy="1.72087942605263E-10"
        ixz="5.06437416027527E-08"
        iyy="4.35086698833605E-05"
        iyz="-6.51212501115978E-13"
        izz="4.97203166390564E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_3/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_3/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="-0.0747 0 0"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-0.01449433772942 3.4093269990574E-08 0.0168295720843948"
        rpy="0 0 0" />
      <mass
        value="0.0861353887155759" />
      <inertia
        ixx="1.99776586952403E-05"
        ixy="1.72087942607124E-10"
        ixz="5.0643741602753E-08"
        iyy="4.35086698833605E-05"
        iyz="-6.51212501001989E-13"
        izz="4.97203166390564E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_3/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_3/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="-0.0747 0 0"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-0.0197353951043699 -7.68143863065941E-07 0.0168109596653357"
        rpy="0 0 0" />
      <mass
        value="0.0915951127437803" />
      <inertia
        ixx="1.94082875231717E-05"
        ixy="-1.01496423351418E-17"
        ixz="-6.24174548305594E-09"
        iyy="4.0185788265739E-05"
        iyz="-1.75447086559487E-15"
        izz="4.72146296607697E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_3/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bus_assembly_3/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="-0.0747 0 0"
      rpy="0 0 0" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.094"
      upper="2.094"
      effort="1.5"
      velocity="1" />
  </joint>
</robot>